site_name: SaaS Data Platform on Kubernetes

nav:
  - Home: index.md

  - Getting Started: 
      - getting-started/index.md
      - Making Domains Work:
          - getting-started/01-making-domains-work/index.md
          - getting-started/01-making-domains-work/01-local-concept.md
          - getting-started/01-making-domains-work/02-bootstraping-ca.md
          - getting-started/01-making-domains-work/03-setup-dns.md
          - getting-started/01-making-domains-work/04-run-the-services.md
      - Making Domains Work:
          - getting-started/01-making-domains-work/index.md
          - getting-started/01-making-domains-work/01-local-concept.md
          - getting-started/01-making-domains-work/02-bootstraping-ca.md
          - getting-started/01-making-domains-work/03-setup-dns.md
      - Making Domains Work:
          - getting-started/01-making-domains-work/index.md
          - getting-started/01-making-domains-work/01-local-concept.md
          - getting-started/01-making-domains-work/02-bootstraping-ca.md
          - getting-started/01-making-domains-work/03-setup-dns.md


theme:
  name: material
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
    - navigation.instant
    - navigation.top
    - content.code.copy
    - search.highlight
    - search.suggest
    - content.tabs.link

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
