site_name: SaaS Data Platform on Kubernetes

nav:
  - Home: index.md
  # - Features:
  #     - features/overview.md
  - Getting Started:
  #     - Overview: development/index.md
  #     - development/index.md
      - getting-started/a-local-concept.md
      - getting-started/b-bootstraping-ca.md
      - getting-started/c-setup-dns.md
      - getting-started/d-install-local-kubernetes-kind.md
  # - Deployments:
  #     - Overview: deployments/index.md

theme:
  name: material
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
    - navigation.instant
    - navigation.top
    - content.code.copy
    - search.highlight
    - search.suggest
    - content.tabs.link

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
