LOG_LEVEL=debug
DEV_MODE=true

CONTROL_PLANE_BASE_URL=https://localhost:5002

CONTROLLER_TIMER_INTERVAL=10

# Platform variables
PLATFORM_GROUP=platform.saas.internal
PLATFORM_VERSION=v1alpha1

# KubeVela variables
VELA_SYSTEM_NAMESPACE=vela-system
VELA_ADDON_REGISTRY_NAME=static

# Workspace variables
WORKSPACE_ID=w-12345
WORKLOAD_NAMESPACE=saas-workload
