LOG_LEVEL=debug

CONTROLLER_TIMER_INTERVAL=10
CONTROLLER_VERIFY_CA=false

# Platform variables
PLATFORM_GROUP=platform.saas.internal
PLATFORM_VERSION=v1alpha1

# KubeVela variables
VELA_SYSTEM_NAMESPACE=vela-system

# Workspace variables
WORKSPACE_ID=w-12345
WORKSPACE_CA_PATH="../../docker/step-ca/certs/root_ca.crt"
WORKSPACE_POLLING_URL=https://saas.internal/mockapi/workspace-config-kubernetes.json

WORKLOAD_NAMESPACE=saas-workload
